.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */

    .jumbotron {
        border-bottom: 0;
    }
}

.home_container {
    background-image: url('../images/home-bg.png');
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px;
    color: white;
    background-size: 120%;
    background-position-y: 75%;
}

.overview_container {
    background-image: url('../images/home-bg.png');
    position: absolute;
    width: 100%;
      background-attachment: fixed;
    padding: 10px;
    color: white;
    background-size: 120%;
    background-size: cover;
      height: 100vh;
}

.container {
    padding-left: 0px;
}

.logo_container_home {
    margin-top: 70px;
}

.custom_hr {
    border-top: 2px solid rgba(238, 238, 238, 0.5);
}

.main_head {
    margin-top: 100px;
}

.home_button {
    width: 44%;
    float: left;
    text-align: center;
    height: 60px;
    padding: 7px;
    margin: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.home_button span {
    font-size: 20px;
}

.button_container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.overview_btn {
    background: rgb(70, 88, 154);
    background: -moz-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(70, 88, 154, 1)), color-stop(50%, rgba(116, 154, 203, 1)), color-stop(100%, rgba(174, 215, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#46589a', endColorstr='#aed7f2', GradientType=1);
}

.speakers_btn {
    background: rgb(70, 88, 154);
    background: -moz-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(70, 88, 154, 1)), color-stop(50%, rgba(116, 154, 203, 1)), color-stop(100%, rgba(174, 215, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#46589a', endColorstr='#aed7f2', GradientType=1);
}

.agenda_btn {
    background: rgb(70, 88, 154);
    background: -moz-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(70, 88, 154, 1)), color-stop(50%, rgba(116, 154, 203, 1)), color-stop(100%, rgba(174, 215, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#46589a', endColorstr='#aed7f2', GradientType=1);
}

.venue_btn {
    background: rgb(70, 88, 154);
    background: -moz-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(70, 88, 154, 1)), color-stop(50%, rgba(116, 154, 203, 1)), color-stop(100%, rgba(174, 215, 242, 1)));
    background: -webkit-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    background: linear-gradient(45deg, rgba(70, 88, 154, 1) 0%, rgba(116, 154, 203, 1) 100%, rgba(174, 215, 242, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#46589a', endColorstr='#aed7f2', GradientType=1);
}

.agenda_heading {
    padding: 10px 5px;
    margin-top: -19px;
}

.overview_content {}

.speakers_list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin: 15px;
    box-shadow: 2px 3px 5px 0px rgb(150, 150, 150);
    background-color: rgba(223, 223, 223, 0.54);
}

.speakers_list_det {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin: 15px;
    box-shadow: 2px 3px 5px 0px rgb(150, 150, 150);
    background-color: rgba(223, 223, 223, 0.54);
    padding: 10px;
}

.speakers_img {
    width: 80px;
    height: 80px;
    float: left;
    padding: 5px;
}

.right_nav {
    width: 10%;
    float: left;
    padding: 5px;
}

.left_name {
    width: 90%;
    float: left;
    padding: 5px;
}

.speaker_details {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    width: 70%;
}

.speaker_name {
    font-size: 20px;
}

.divider {
    margin-top: 10px 0px;
}

.speaker_bg {
    background-color: rgb(176, 199, 229);
    ;
}

.short_summ {}

.speakers_img img {
    border-radius: 40px;
}

.img_container {
    width: 200px;
    height: 200px;
}

.head_logo {
    margin-left: 10px;
    margin-left: 10px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: white;
}

.bg_layer {
    background-color: rgb(228, 228, 228);
}

.agenda_list {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-left: 4px solid rgba(174, 4, 4, 0.6);
}

.time_head h4 {
    color: rgb(30, 99, 158);
}

.time_head h3 {
    margin: 2px auto;
}

.time_head .divider {
    margin-top: 3px;
    margin-bottom: 10px;
}

.time_range {
    color: rgb(27, 101, 163);
}

.item_content .top {
    color: rgb(37, 109, 179);
}

.item_content .down {
    color: rgba(37, 109, 179, 0.64);
}

.map_container {
    height: 50vh;
    margin-top: -70px;
}

.black_bg {
    background-image: url('../images/home-bg.png');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.black_bg img {
    width: 100%;
    margin-top: 80px;
}

.black_bg h1 {
    color: white;
    margin-top: -20px;
}

.black_bg h3 {
    color: white;
    margin-top: 0px;
}

.black_bg h2 {
    color: white;
}

.rotate {
    margin: 20px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 500px) {
    .logo_container_home img, .black_bg img {
        width: 60%;
    }
     .speakers_list{
        width: 80%;
    }
}

@media (min-width: 700px) {
    .logo_container_home img, .black_bg img {
        width: 50%;
    }
     .speakers_list{
        width: 70%;
    }
}

@media (min-width: 900px) {
    .logo_container_home img, .black_bg img {
        width: 40%;
    }
    .speakers_list{
        width: 60%;
    }
}
