<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
            <span class=" head_logo">

            JsChannel</span>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
<div class="home_container">
    <div class="logo_container_home">
       <center> <img src="images/New-Logo.png" width="100%" alt=""></center>
    </div>
    <center class="main_head">
        <h3>Conference 2015</h3>
        <h3>Bengaluru, 17-18 July</h3>
    </center>
    <div class="button_container" >

        <div class="home_button overview_btn" ng-click="go_to_overview()">
            <span class="glyphicon glyphicon-eye-open"></span>
            <br> Overview
        </div>

        <div class="home_button speakers_btn" ng-click="go_to_speakers()">
            <span class="glyphicon glyphicon-bullhorn"></span>
            <br> Speakers
        </div>
        <div class="home_button agenda_btn" ng-click="go_to_agenda()">
            <span class="glyphicon glyphicon-calendar"></span>
            <br> Agenda
        </div>
        <div class="home_button venue_btn" ng-click="go_to_venue()">
            <span class="glyphicon glyphicon-map-marker"></span>
            <br> Venue
        </div>
    </div>
</div>
