<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="">
        <div class="navbar-header">
            <span class=" head_logo" ng-click="goBack()">
<span class="glyphicon glyphicon-chevron-left"></span> JsChannel
            </span>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="speakers_container">
    <div class="logo_container_home">
    </div>
    <div class="map_container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3887.974059891014!2d77.61939877909845!3d12.973510919439372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1436277510040" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="taj_logo_container">
    <br>
        <center><img src="images/map.jpg">
        <h5>MG Road, Bengaluru</h5>

        </center>
    </div>
</div>
